*{
    margin: 0;
    padding: 0;
    font-family: 'SimHei';
}
body{
    background-image: url('./imgs/homepageBg.png');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.header{
    width: 100%;
    height: 15vh;
    position: relative;
    background-image: url('./imgs/header.png');
    background-repeat: no-repeat;
    background-size: 100% 15vh;
    z-index: 10;
}
.header .header_content{
    width: 39vw;
    height: 8.5vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    box-sizing: border-box;
}


.header .header_content .homepage,
.header .header_content .management,
.header .header_content .notice{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-sizing: border-box;
    float: left;
    width: 11vw;
    height: 8.5vh;
}

.header .header_content .management{
    margin: 0 2.9vw 0 2.9vw;
}

.header .header_content .homepage div,
.header .header_content .management div,
.header .header_content .notice div{
    float: left;
}


.header .header_content .homepage>div:first-child,
.header .header_content .management>div:first-child,
.header .header_content .notice>div:first-child{
    width: 4.5vw;
    height: 8vh;
    box-sizing: border-box;
    position: relative;
}

.header .header_content .homepage>div:first-child img,
.header .header_content .management>div:first-child img,
.header .header_content .notice>div:first-child img{
    width: 2vw;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
}

.header .header_content .homepage>div:last-child,
.header .header_content .management>div:last-child,
.header .header_content .notice>div:last-child{
    width: 5vw;
    height: 8.5vh;
    font-size: 1.3vw;
    text-align: left;
    color: #fff;
    box-sizing: border-box;
    /* padding-top: 2.5vh;
    padding-left: 1.5vw; */
    line-height: 8.5vh;
    margin-left: 1vw;
}
.header .header_content .homepage:hover,
.header .header_content .management:hover,
.header .header_content .notice:hover{
    background-color: rgba(255, 255, 255, 0.1);
}


/* 关机 */

.header .header_shutdown{
    width: 6.5vw;
    height: 8.5vh;
    position: absolute;
    right: 0;
    margin-right: 0;
}

.header .header_shutdown img{
    width: 2vw;
    height: 3.5vh;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
}


/* 主体部分 */

.main{
    width: 100%;
    height: 78vh;
    position: absolute;
}

.main>div:first-child,
.main>div:nth-child(2),
.main>div:nth-child(3),
.main>div:last-child{
    width:  13.5vw;
    height: 24vh;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 15.8vh 33.7vw;
    background-size:  13.4vw 23.3vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: 999;
}
.main>div:first-child,
.main>div:nth-child(2){
    background-image: url('./imgs/notSelectBg.png');
}

.main>div:nth-child(2){
    margin: 0 0 16vh 55.3vw;
}

/* 安防系统和动环系统的 hover */
.main>div:first-child:hover,
.main>div:nth-child(2):hover{
    background-image: url("./imgs/selectBg.png");
}
.main>div:first-child:hover .security,
.main>div:nth-child(2):hover .ring{
    color: #fff;
}


/* 安防系统和动环系统的 text */

.main>div:first-child .security,
.main>div:nth-child(2) .ring{
    width: 4.8vw;
    height: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2vw;
    color: #2E4033;
    box-sizing: border-box;
}
.main>div:first-child .security p,
.main>div:nth-child(2) .ring p{
    width: 4.8vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* 装饰背景 */
.main>div:nth-child(3){
    background-image: url('./imgs/decorate1.png');
    margin: 0 0 3.2vh 23vw;
}
.main>div:last-child{
    background-image: url('./imgs/decorate2.png');
    margin: 0 0 27.9vh 44.5vw;
}
