
/* 摄像头：从左到右 */
.mapbox .one-map>div:first-child{
    position: absolute;
    top: 41vh;
    left: 1vw;
    transform: rotate(-20deg);
}

.mapbox .one-map>div:nth-child(2){
    position: absolute;
    top: 43vh;
    left: 6vw;
    transform: rotateZ(-68deg);
}

.mapbox .one-map>div:nth-child(3){
    position: absolute;
    top: 60.8vh;
    left: 7.2vw;
    transform: rotateZ(-108deg);
}
.mapbox .one-map>div:nth-child(4){
    position: absolute;
    top: 56vh;
    left: 9vw;
}

.mapbox .one-map>div:nth-child(5){
    position: absolute;
    top: 45vh;
    left: 20.8vw;
}

.mapbox .one-map>div:nth-child(6){
    position: absolute;
    top: 64vh;
    left: 25.5vw;
    transform: rotateZ(192deg);
}

.mapbox .one-map>div:nth-child(7){
    position: absolute;
    top: 22.5vh;
    left: 30.5vw;
}

.mapbox .one-map>div:nth-child(8){
    position: absolute;
    top: 17vh;
    left: 36.5vw;
    transform: rotateZ(-70deg);
}

.mapbox .one-map>div:nth-child(9){
    position: absolute;
    top: 12.5vh;
    left: 41vw;
    transform: rotateZ(-75deg);
}


.mapbox .one-map>div:nth-child(10){
    position: absolute;
    top: 35.5vh;
    left: 42.5vw;
    transform: rotateZ(45deg);
}



