/* 摄像头：从左到右 */
.mapbox .two-map>div:first-child{
    position: absolute;
    top: 42vh;
    left: 1.6vw;
    transform: rotate(-47deg);
}
.mapbox .two-map>div:nth-child(2){
    position: absolute;
    top: 60.8vh;
    left: 7.2vw;
    transform: rotateZ(-108deg);
}
.mapbox .two-map>div:nth-child(3){
    position: absolute;
    top: 44vh;
    left: 5.5vw;
    transform: rotateZ(-14deg);
}

.mapbox .two-map>div:nth-child(4){
    position: absolute;
    top: 57vh;
    left: 9.5vw;
    transform: rotateZ(-13deg);
}

.mapbox .two-map>div:nth-child(5){
    position: absolute;
    top: 74.5vh;
    left: 15.8vw;
    transform: rotateZ(-108deg);
}

.mapbox .two-map>div:nth-child(6){
    position: absolute;
    top: 19vh;
    left: 33.7vw;
    transform: rotateY(173deg) rotateZ(61deg);
}

.mapbox .two-map>div:nth-child(7){
    position: absolute;
    top: 30.5vh;
    left: 39.5vw;
    transform: rotateY(180deg) rotateZ(56deg);
}

.mapbox .two-map>div:nth-child(8){
    position: absolute;
    top: 43.5vh;
    left: 45.5vw;
    transform: rotateZ(408deg) rotateY(155deg);
}
