* {
    margin: 0;
    padding: 0;
}

body {
    background: #181818;
}

.header {
    width: 100%;
    height: 8.5vh;
    background: #2e4033;
}

.header .security-box {
    width: 13vw;
    height: 8.5vh;
}

.header .security-box,
.header .header-middle,
.header .header-right {
    float: left;
}

.header::after {
    content: '';
    display: block;
    clear: both;
}

.header .security-box .security-icon,
.header .security-box .security-text {
    float: left;
}

.header .security-box::after {
    content: '';
    display: block;
    clear: both;
}


/* 安防图标 */

.header .security-box .security-icon {
    width: 5.5vw;
    height: 8.5vh;
    position: relative;
}

.header .security-box .security-icon img {
    width: 2.5vw;
    height: 6vh;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
}


/* 安防系统text */

.header .security-box .security-text {
    width: 7.5vw;
    height: 8.5vh;
    text-align: center;
    line-height: 8.5vh;
    color: #fff;
    font-family: KaiTi;
    font-size: 1.25vw;
    font-weight: 700;
}


/* 头部中间 */

.header .header-middle {
    width: 70vw;
    height: 8.5vh;
    position: relative;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

.header .header-middle .middle-box {
    width: 45vw;
    height: 8.5vh;
    /* background: blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}


/* 地图系统和门禁系统、视频监控 */

.header .header-middle .middle-box>div {
    float: left;
    width: 12vw;
    height: 8.5vh;
    box-sizing: border-box;
    text-align: center;
    line-height: 8.5vh;
    font-size: 1.5vw;
    color: #fff;
    font-family: KaiTi;
    font-weight: 700;
}

.header .header-middle .middle-box .map-system:hover,
.header .header-middle .middle-box .entrance-guard:hover,
.header .header-middle .middle-box .video:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* 门禁系统 */

.header .header-middle .middle-box .entrance-guard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 视频监控 */

.header .header-middle .middle-box .video {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}


/* 头部右边图标 */

.header .header-right {
    height: 8.5vh;
    float: right;
}

.header .header-right .homepageImg,
.header .header-right .vector-smart,
.header .header-right .notice,
.header .header-right .shutdown {
    width: 3.5vw;
    height: 8.5vh;
    float: left;
    position: relative;
}

.header .header-right .homepageImg img,
.header .header-right .vector-smart img,
.header .header-right .notice img,
.header .header-right .shutdown img {
    width: 1.8vw;
    height: 3.8vh;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}


/* -------------------- 地图系统内容 --------------------- */

.mapbox {
    width: 100%;
    height: 91.5vh;
    overflow: hidden;
}

.mapbox>div {
    float: left;
}


/* 主体部分左边 */

.mapbox .mapbox-left {
    width: 20%;
    height: 100%;
    position: relative;
}

.mapbox .mapbox-left .left-box {
    width: 10vw;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.8vw;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-family: Microsoft YaHei;
    font-size: 1.3vw;
}

.mapbox .mapbox-left .left-box>div {
    width: 10vw;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
}

.mapbox .mapbox-left .left-box>div:first-child {
    border-top-left-radius: 0.8vw;
    border-top-right-radius: 0.8vw;
}

.mapbox .mapbox-left .left-box>div:last-child {
    border-bottom-left-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;
}

.mapbox .mapbox-left .left-box>div:hover {
    background: rgba(255, 255, 255, 0.3);
}


/* 主体部分右边 */


/* 一楼 */

.mapbox .one-map,
.mapbox .two-map,
.mapbox .three-map,
.mapbox .four-map {
    width: 66vw;
    height: 100%;
    background-image: url('./imgs/1.01.png');
    background-repeat: no-repeat;
    background-size: 65vw 80vh;
    background-position-y: 50%;
    box-sizing: border-box;
    position: relative;
    display: none;
}


/* 摄像头说明 */

.mapbox .one-map .cameraDescription,
.mapbox .two-map .cameraDescription,
.mapbox .three-map .cameraDescription,
.mapbox .four-map .cameraDescription {
    width: 10vw;
    height: 15vh;
    position: absolute;
    right: 0;
    bottom: 5vh;
}

.gun-box,
.hemisphere-box,
.ballhead-camera-box {
    width: 100%;
    height: 5vh;
    color: #ccc;
    font-size: 1.2vw;
}

.camera-img {
    width: 2vw;
    height: 3vh;
    margin-right: 1vw;
}


/* 摄像头 */

.camera {
    width: 2vw;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: 2vw 3vh;
}


/* 枪机 */

.gun {
    background-image: url('./imgs/gun.png');
}


/* 半球机 */

.hemisphere {
    background-image: url('./imgs/hemisphere.png');
    background-size: 1.5vw 2.5vh;
}


/* 球机 */

.ballhead-camera {
    background-image: url('./imgs/ballheadCamera.png');
}

.mapbox .two-map {
    background-image: url('./imgs/2.02.png');
}

.mapbox .three-map {
    background-image: url('./imgs/3.03.png');
}

.mapbox .four-map {
    background-image: url('./imgs/4.04.png');
}


/* 一楼摄像头 */

.four-map div,
.three-map div,
.two-map div,
.one-map div {
    cursor: pointer;
}


/* .mapbox .one-map,
.mapbox .two-map,
.mapbox .four-map{
    display: none;
} */


/* -------------------- 视频监控内容 --------------------- */


/* .videobox{
    width: 100%;
    height: 91.5vh;
    overflow: hidden;
    display: none;
    color: #fff;
} */