/* 解决在ie下出现宽度和高度过长导致出现滑动条问题 */

html {
    overflow: hidden;
}

.WarningHeader {
    width: 80vw;
    margin: 2vh 0 0 2.5vw;
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    font-weight: 700;
}

.WarningHeader-first {
    height: 6.5vh;
    background-color: #444444;
    border-radius: 0.5vw;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.StartTime,
.EndTime {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.EndTime {
    margin-left: 3%;
}

.EndTime>img:nth-child(3),
.StartTime>img:nth-child(3) {
    /* background-color: red; */
    height: 3vh;
    width: 1.5vw;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-right-radius: 0.3vw;
    border-bottom-right-radius: 0.3vw;
}

.WarningHeader-second {
    background-color: #444444;
    margin-left: 2%;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.WarningHeader-third {
    background-color: #444444;
    margin-left: 2%;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: 1vw;
}

.WarningHeader-second select,
.WarningHeader-third select {
    background-color: #444444;
    color: #fff;
    border-radius: 0.3vw;
    font-size: 0.9vw;
    height: 3vh;
    margin-left: 1.2vw;
    width: 10vw;
    outline: none;
}

.WarningHeader-second select option,
.WarningHeader-third select option {
    background-color: #777777;
}

.AdvancedQuery {
    margin-left: 1.5vw;
    width: 5.5vw;
    height: 4vh;
    background-color: rgb(229, 131, 96);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3vw;
    color: #fff;
    border-color: rgb(229, 131, 96);
    font-size: 1vw;
}

.AdvancedQuery:hover {
    cursor: pointer;
}