/* 非定位漏水 */

.main .main-right>div:nth-child(1) {
    display: none;
}

.main .main-right>div:nth-child(1) {
    width: 86vw;
    height: 86.5vh;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.8vw;
    margin: 2vh 0 0 1vw;
    color: #fff;
}

.main .main-right>div:nth-child(1)>div:nth-child(1) {
    font-size: 1.25vw;
    padding-left: 2.5vw;
    padding-top: 3vh;
}

.main .main-right>div:nth-child(1)>div:nth-child(1) text:hover {
    cursor: pointer;
}

.RealTime {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    font-size: 1.35vw;
}

.RealTime-mind {
    width: 27vw;
    background-color: #444444;
    height: 30vh;
    margin-top: 4vh;
    margin-left: 1.2vw;
    border-radius: 1vw;
}

.WaterState {
    margin-left: 11vw;
    display: flex;
    justify-content: center;
    background-color: rgb(68, 165, 148);
    width: 9vw;
    line-height: 6vh;
    border-radius: 1.5vw;
}


/* 非定位漏水-报警数据 */

.WarningMiddle {
    width: 80vw;
    height: 65vh;
    background-color: #444444;
    margin: 2vh 0 0 2.5vw;
    border-radius: 1vw;
    padding-bottom: 1.5vh;
}

.WarningTitle {
    display: flex;
    flex-direction: row;
    font-size: 1.2vw;
}

.WarningTitle>h3:nth-child(1) {
    width: 10.66%;
    height: 4vh;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.WarningTitle>h3:nth-child(1)~h3 {
    width: 17.76%;
    height: 4vh;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.WarningContent {
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    text-align: center;
}

.WarningContent:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.WarningContent>div:nth-child(1) {
    width: 10.66%;
    line-height: 5.5vh;
}

.WarningContent>div:nth-child(1)~div {
    width: 17.76%;
    line-height: 5.5vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.WarningPage {
    margin: 1.5vh auto 0 auto;
    font-size: 0.8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.WarningPage>div:nth-child(1) {
    display: flex;
    width: 1.1vw;
    height: 1.1vw;
    background-color: #55AA88;
    justify-content: center;
    align-items: center;
    margin-right: 0.8vw;
}

.WarningHeader-third>input {
    font-size: 1.2vw;
    width: 10vw;
    height: 2.5vh;
    margin-left: 1vw;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: solid 0.01rem #fff;
}