/* --------------------------------------------分页------------------------------------------------ */

html {
    font-size: calc(100vw / 1280 * 100);
    overflow: hidden;
}


/* 整个分页的样式 */

.IpPage {
    position: absolute;
    top: 93%;
    width: 10.24rem;
    height: 0.3rem;
    display: flex;
    justify-content: center;
}

.pager {
    max-width: 8rem;
    text-align: center;
    margin-bottom: 0.3rem;
    display: inline-block;
}

.pager a {
    cursor: pointer;
}

.pager a,
.pager span {
    /* 按钮内数字 */
    width: 0.2rem;
    height: 0.2rem;
    border: 0.007rem solid #EBEBEB;
    color: #fff;
    display: inline-block;
    line-height: 0.2rem;
    float: left;
    font-size: 0.15rem;
    text-decoration: none;
    margin: 0 0.03rem;
    font-size: 0.1rem;
}

.pager a:hover,
.pager span:hover {
    border-color: #44a594;
    color: #44a594;
    position: relative;
    z-index: 1;
}

.pager span.current {
    background-color: #44a594;
    color: #fff;
    border-color: #fff;
    position: relative;
    z-index: 1;
}

.pager .pg-first {
    background: url(../../../Common/page/imgs/newleft.png) no-repeat center center;
    background-size: 65% 65%;
}

.pager .pg-prev {
    background-image: url(../../../Common/page/imgs/left.png);
    background-size: contain;
}

.pager .pg-next {
    background-image: url(../../../Common/page/imgs/right.png);
    background-size: contain;
}

.pager .pg-last {
    background: url(../../../Common/page/imgs/newright.png) no-repeat center center;
    background-size: 65% 65%;
}

.pager span.els {
    border-color: transparent;
}

.pagerHtmlWrap .cc_cells {
    width: 100%;
    height: 0.35rem;
    padding: 0.05rem 0;
    border-bottom: 0.01rem #cccccc solid;
}

.pagerHtmlWrap .cc_cells a {
    color: #454545;
    font-size: 0.14rem;
    line-height: 0.35rem;
    text-decoration: none;
}

.pagerHtmlWrap .cc_cells a span {
    display: inline-block;
    width: 25%;
    text-align: left;
    margin: 0;
}