/* 摄像头：从左到右 */
.mapbox .four-map>div:first-child{
    position: absolute;
    top: 42vh;
    left: 1.5vw;
    transform: rotate(-47deg);
}
.mapbox .four-map>div:nth-child(2){
    position: absolute;
    top: 55vh;
    left: 5.5vw;
    transform: rotateZ(-128deg) rotateX(-170deg);
}
.mapbox .four-map>div:nth-child(3){
    position: absolute;
    top: 60vh;
    left: 6.5vw;
    transform: rotateZ(-16deg);

}

.mapbox .four-map>div:nth-child(4){
    position: absolute;
    top: 68vh;
    left: 12.8vw;
    transform: rotateZ(240deg);
}

.mapbox .four-map>div:nth-child(5){
    position: absolute;
    top: 37.8vh;
    left: 12.8vw;
    transform: rotateZ(17deg);
}

.mapbox .four-map>div:nth-child(6){
    position: absolute;
    top: 27.8vh;
    left: 24.8vw;
    transform: rotateZ(8deg);
}

.mapbox .four-map>div:nth-child(7){
    position: absolute;
    top: 34.6vh;
    left: 28vw;
    transform: rotateZ(-7deg) rotateY(-143deg);
}
