html {
    /* 根据设计图大小设计的响应式单位 */
    font-size: calc(100vw / 1280 * 100);
}

li {
    list-style: none;
}

.main .main-right>div:nth-child(2) {
    display: none;
    height: 88vh;
    overflow: auto;
    font-size: 0.14rem;
}

.main .main-right>div:nth-child(2) .AllAir {
    width: 86vw;
    height: 70vh;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.8vw;
    margin: 2vh 0 0 1vw;
    color: #fff;
}

.main .main-right>div:nth-child(2) .AllAir>div:nth-child(1) {
    padding-left: 3.7vw;
    padding-top: 5.5vh;
}

.main .main-right>div:nth-child(2) .AllAir>div:nth-child(2) {
    padding-left: 3.9vw;
    margin-top: 7vh;
}

.main .main-right>div:nth-child(2) .AirState {
    margin-left: 6vw;
    margin-top: 3vh;
    width: 25vw;
    height: 20vh;
    display: flex;
    float: left;
    flex-direction: row
}

.main .main-right>div:nth-child(2) .AirState li {
    margin-top: 5vh;
}

.main .main-right>div:nth-child(2) .AlarmStatus {
    display: flex;
    flex-direction: row;
    justify-items: center;
    text-align: center;
    margin-left: 36.5vw;
}

.main .main-right>div:nth-child(2) .AlarmStatus ul li {
    margin-top: 5vh;
}

.main .main-right>div:nth-child(2) .AlarmStatus>ul:nth-child(6) li,
.main .main-right>div:nth-child(2) .AlarmStatus>ul:nth-child(4) li,
.main .main-right>div:nth-child(2) .AlarmStatus>ul:nth-child(2) li {
    background-color: rgb(68, 165, 148);
    width: 5.3vw;
    border-radius: 5vw;
    line-height: 4.5vh;
}

.main .main-right>div:nth-child(2) .AlarmStatus>ul:nth-child(1) li,
.main .main-right>div:nth-child(2) .AlarmStatus>ul:nth-child(3) li,
.main .main-right>div:nth-child(2) .AlarmStatus>ul:nth-child(5) li {
    text-align: right;
    margin-left: 4vw;
    margin-right: 1vw;
    line-height: 4.5vh;
}