/* 温湿度样式 */

.main .main-right>div:nth-child(3) {
    width: 86vw;
    height: 86vh;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.8vw;
    margin: 2vh 0 0 1vw;
    color: #fff;
}

.main .main-right>div:nth-child(3)>div:nth-child(1) {
    padding-top: 5vh;
    padding-left: 2vw;
    font-size: 1.15vw;
}

.main .main-right>div:nth-child(3)>div:nth-child(1):hover {
    cursor: pointer;
}

.main .main-right>div:nth-child(3)>div:nth-child(1) span {
    margin-left: 2vw;
}

.TempAndHumiRealTime {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9vw;
}

.TempAndHumiRealTime-mind {
    width: 41vw;
    background-color: #444444;
    height: 45vh;
    margin-top: 4vh;
    margin-left: 1.2vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
}