.main .main-right>div:nth-child(3) {
    width: 70vw;
    height: 70vh;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.8vw;
    margin: 2vh 0 0 1vw;
    color: #fff;
}

.main .main-right>div:nth-child(3)>div:nth-child(1) {
    margin-left: 2vw;
    padding-top: 3vh;
    font-size: 1.1vw;
}

.main .main-right>div:nth-child(3)>div:nth-child(1)>text:nth-child(2),
.main .main-right>div:nth-child(3)>div:nth-child(1)>text:nth-child(3),
.main .main-right>div:nth-child(3)>div:nth-child(1)>text:nth-child(4) {
    margin-left: 3vw;
}


/* 右边样式 */

.main .main-right>div:nth-child(3)>div:nth-child(3) {
    float: left;
    margin-left: 3vw;
}

.main .main-right>div:nth-child(3)>div:nth-child(3)>div:nth-child(1) {
    color: sienna;
    font-size: 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.main .main-right>div:nth-child(3)>div:nth-child(3)>div:nth-child(2) {
    color: teal;
    margin-top: 2vh;
    font-size: 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 温湿度样式 */

.main .main-right>div:nth-child(3)>div:nth-child(3)>div:nth-child(4),
.main .main-right>div:nth-child(3)>div:nth-child(3)>div:nth-child(3) {
    font-size: 1.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.main .main-right>div:nth-child(3)>div:nth-child(3)>div:nth-child(4)>div:nth-child(2),
.main .main-right>div:nth-child(3)>div:nth-child(3)>div:nth-child(3)>div:nth-child(2) {
    margin-top: 2vh;
    background-color: #e58360;
    width: 8vw;
    line-height: 5vh;
    border-radius: 10vh;
    display: flex;
    justify-content: center;
    font-size: 1.35vw;
}

.main .main-right>div:nth-child(3)>div:nth-child(3)>div:nth-child(4)>div:nth-child(2) {
    background-color: #44a594
}


/* 中间数据表样式 */

.main .main-right>div:nth-child(3)>div:nth-child(2) {
    float: left;
    width: 55vw;
    height: 60vh;
    margin-left: 2vw;
}