* {
    margin: 0;
    padding: 0;
}

body {
    background: #181818;
    font-family: Source Han Sans CN;
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100%;
    height: 8.5vh;
    background: #2e4033;
}

.header .ring-box {
    width: 13vw;
    height: 8.5vh;
}

.header .ring-box,
.header .header-middle,
.header .header-right {
    float: left;
}

.header::after {
    content: '';
    display: block;
    clear: both;
}

.header .header-right :hover {
    cursor: pointer;
}

.header .ring-box .ring-icon,
.header .ring-box .ring-text {
    float: left;
}

.header .ring-box::after {
    content: '';
    display: block;
    clear: both;
}


/* 安防图标 */

.header .ring-box .ring-icon {
    width: 5.5vw;
    height: 8.5vh;
    position: relative;
}

.header .ring-box .ring-icon img {
    width: 2.5vw;
    height: 6vh;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
}


/* 动环系统text */

.header .ring-box .ring-text {
    width: 7.5vw;
    height: 8.5vh;
    text-align: center;
    line-height: 8.5vh;
    color: #fff;
    font-family: KaiTi;
    font-size: 1.25vw;
    font-weight: 700;
    /* background: red; */
}


/* 头部中间 */

.header .header-middle {
    width: 70vw;
    height: 8.5vh;
    position: relative;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

.header .header-middle .middle-box {
    width: 50vw;
    height: 8.5vh;
    /* background: blue; */
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
}


/* 环境监控、动力监控、安防监控和运维监控 */

.header .header-middle .middle-box>div {
    float: left;
    width: 11.2vw;
    height: 8.5vh;
    box-sizing: border-box;
    text-align: center;
    line-height: 8.5vh;
    font-size: 1.5vw;
    color: #fff;
    font-family: KaiTi;
    /* border: 1px solid red; */
    margin-right: 1.5vw;
    font-weight: 700;
    cursor: pointer;
}

.header .header-middle .middle-box .operations {
    margin-right: 0vw;
}

.header .header-middle .middle-box .environment-system:hover,
.header .header-middle .middle-box .power-guard:hover,
.header .header-middle .middle-box .security:hover,
.header .header-middle .middle-box .operations:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* 头部右边图标 */

.header .header-right {
    height: 8.5vh;
    float: right;
}

.header .header-right .homepageImg,
.header .header-right .vector-smart,
.header .header-right .notice,
.header .header-right .shutdown {
    width: 3.5vw;
    height: 8.5vh;
    float: left;
    position: relative;
}

.header .header-right .homepageImg img,
.header .header-right .vector-smart img,
.header .header-right .notice img,
.header .header-right .shutdown img {
    width: 1.8vw;
    height: 3.8vh;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}


/* ----------------- 主体部分 ----------------- */

.main {
    width: 100%;
    height: 91.5vh;
    box-sizing: border-box;
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}


/* 左边列表 */

.main .main-left {
    cursor: pointer;
    width: 12vw;
    height: inherit;
    background: #303030;
    position: relative;
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
}


/* .main .main-left>li:nth-child(1) {
    background-image: url("./imgs/Up.png");
} */

.main .main-left li {
    height: 6.5vh;
    font-size: 1vw;
}

.main .main-left li,
.main .main-left>div {
    width: 100%;
    text-align: center;
    line-height: 7.5vh;
    font-size: 1.3vw;
    color: #fff;
    font-family: KaiTi;
    /* font-weight: 700; */
}

.main .main-left>li:hover,
.main .main-left>div:hover {
    background: rgba(255, 255, 255, 0.1);
}

.main .main-left>div {
    height: 7vh;
}


/* 返回系统 */

.main .main-left>div:nth-last-child(1) {
    position: absolute;
    bottom: 1vh;
    left: 0;
    height: 7.5vh;
}

.main .main-left>div a {
    text-decoration: none;
    color: #fff;
}

.main-left>div img {
    width: 2.5vw;
    height: 4vh;
}

.main-left>div:nth-child(1),
.main-left>div:nth-last-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 右边内容 */

.main .main-right {
    width: 88vw;
    height: inherit;
}